body {
  font-family: Helvetica;
  font-weight: bold;
  background-color: black;
  color: white;
  margin: 0px;
}


.allplayers {
  border: 1px solid white;
}

.name, .clock, .button, #newplayer {
  padding: 0.8em;
  text-transform: uppercase;
}

.button {
  float: left;
}

.button {
  background-color: blue;
  opacity: 0.8;
  filter:alpha(opacity=80);
}

#reset {
  float: right;
}



.delete {
  display: inline-block;
  position: relative;
  height: 100%;
  z-index: 11;
}

#confirmaddplayer {
  position: relative;
  float: right;
  display: none;
}

.edit {
  display: none;
}

.player, #newplayerrow {
  position: relative;
  border: 1px solid white;
  background-color: black;
}

.player .timebar {
  background-color: red;
}

.player.running {
  background-color: #004400;
}

.player.running .timebar {
  background-color: green;
}

.player .subtime {
  font-weight: bold;
}

.subout, .subin {
  text-shadow: 0px 0px 5px yellow;
}

.subout .button {
  text-shadow: none;
}

.timebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
}

.clock {
  position: relative;
  float: right;
  z-index: 10;
}

.name, #newplayer {
  display: inline-block;
  position: relative;
  z-index: 10;
}

#welcome {
  display: none;
  padding: 1.5em;
  font-size: 1.5em;
  line-height: 1.8em;
  text-transform: uppercase;
}

